<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'renderer.css' %}" />
    <script type="importmap">
      {
        "imports": {
            "gsplat": "https://cdn.jsdelivr.net/npm/gsplat@1.2.3"
            
        }
      }
    </script>
    <title>NeRF renderer</title>
  </head>
  <body>
    <h1>3D CONSTRUCTION</h1>
    <div class="subtitle">
        <a href="{% url 'upload_file' %}">Upload Files</a> | <span>Model Preview</span>
    </div>
    <div class="centered-content">
        <canvas id="display"></canvas>
        <div class="buttons">
            <button class="back-btn" onclick="history.back()">Back</button>
            <button id="export-btn">Export Model</button>
        </div>
    </div>
    <script type="module" src="{% static 'renderer.js' %}"></script>
    <script type="module" src="{% static 'view.js' %}"></script>
</body>
</html>