<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'renderer.css' %}" />
    <script type="importmap">
      {
        "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.module.js",
            "three/examples/jsm/controls/OrbitControls": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/controls/OrbitControls.js",
            "three/examples/jsm/loaders/PLYLoader": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/loaders/PLYLoader.js"
        }
      }
    </script>
    <title>NeRF renderer</title>
</head>
<body>
    <h1>3D CONSTRUCTION</h1>
    <div class="subtitle">
        <a href="{% url 'upload_file' %}">Upload Files</a> | <span>Model Preview</span>
    </div>
    <div class="centered-content">
        <canvas id="display"></canvas>
    </div>
    <div class="buttons">
        <button class="back-btn" onclick="history.back()">Back</button>
        <button class="export-btn" id="exportBtn">Export Model</button>
    </div>
    <script type="module" src="{% static 'renderer.js' %}"></script>
    <script type="module" src="{% static 'view.js' %}"></script>

</body>
</html>