body 
{
    font-family: Arial, sans-serif;
    margin: 0; 
    background-color: #add8e6; 
    color: #333;
    height: 100%; 
    padding: 20px; 
}
h1, .subtitle 
{
    text-align: center;
    margin-top: 20px;
}
.subtitle 
{
    font-size: 18px; 
    color: #666;
    margin-bottom: 20px; 
}
.functions 
{
    margin-top: 20px;
}
.upload-files 
{
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.upload-files h2 
{
    margin-top: 0;
}
span 
{
    display: block;
    border: 2px dashed #aaa;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    background-color: #eee;
}
button 
{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover 
{
    background-color: #0056b3;
}
#preview 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
#preview img, #preview video 
{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}
.application-info 
{
    margin-top: 40px;
    text-align: center;
    font-size: 0.85em;
    color: #666;
}
.hide
{
    display: none;
}
